<template>
    <div class="MainRight">
        MainRight
    </div>
</template>

<script>
    export default {
        name: "Mainright",
        data() {
            return {}
        },
        methods: {},
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>
.MainRight{
    width: 15%;
    background: #0000FF;
}
</style>
