<template>
    <div class="MainLeft">
        MainLeft
    </div>
</template>

<script>
    export default {
        name: "MainLeft",
        data() {
            return {}
        },
        methods: {},
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>
.MainLeft{
    width: 15%;
    background: #00FFFF;
}
</style>
