<template>
    <div class="about">
        <h1>个人简介</h1>
        <p>你好，我是madison。</p>
    </div>
</template>

<script>
    export default {
        name: "About",
        data() {
            return {}
        },
        methods: {},
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>

</style>