<template>
  <el-backtop  :bottom="100">
    <div class="scrollTop">
      <img src="../../assets/svg/scrollTop.svg" alt="返回顶部">
    </div>
  </el-backtop>
</template>

<script>
    export default {
        name: "BackToTop",
        data() {
            return {}
        },
        methods: {},
        mounted() {
        },
        created() {
        }
    }
</script>

<style scoped>
  .scrollTop img{
    width: 40px;
    height: 40px;
  }
  .scrollTop img:hover {

  }
</style>
