<template>
    <div class="header">
        <!--    <el-container>-->
        <Top></Top>
        <div class="content">
            <div class="MainTop">
                <h2><span color="#000000" size="6" face="华文行楷">Madison</span></h2>
                <span>你好</span>
            </div>
            <div class="content-body">
                <MainLeft></MainLeft>
                <div>
                    <router-view></router-view>
                </div>
                <MainRight></MainRight>
            </div>
        </div>

        <BackToTop></BackToTop>
        <Bottom></Bottom>
        <!--    </el-container>-->
    </div>
</template>

<script>
    import Top from "./Top";
    import Bottom from "./Bottom";
    import BackToTop from "./BackToTop";

    import MainLeft from "./MainContent/MainLeft";
    import MainRight from "./MainContent/MainRight";

    export default {
        name: "Home",
        data() {
            return {};
        },
        components: {
            Top,
            Bottom,
            BackToTop,
            MainLeft,
            MainRight
        },
        methods: {},
        mounted() {

        },
        created() {
        }
    };
</script>
<style scoped>
    .header {
        /*height: 100%;*/
        /*开启flex布局*/
        display: flex;
        /*flex-wrap:默认不换行-nowrap 换行-wrap*/
        /*flex-wrap: nowrap;*/
        /*flex-direction: 默认row - 主轴即x轴方向  column- 副轴即y方向*/
        /*flex-direction: column;*/
        flex-flow: column;
        /*justify-content(主轴): center-居中  flex-start-左对齐布局   flex-end-右对齐布局 space-between-两边对齐中间均匀分布 space-evenly-两边空隙跟中间空隙一样均匀分布 space-around-两边空隙宽度是中间的一半*/
        /*justify-content: space-evenly;*/
        /*align-content(副轴): center-居中  flex-start-左对齐布局   flex-end-右对齐布局 space-between-两边对齐中间均匀分布 space-evenly-两边空隙跟中间空隙一样均匀分布 space-around-两边空隙宽度是中间的一半*/
        /*align-content: space-between;*/
        /*align-items:控制本身所在行的布局  center-居中 stretch整个高度*/
        /*align-items: stretch;*/

        /*flex-shrink:表示flex布局中的 容器压缩情况下 某一个div的压缩比例*/
        /*flex-shrink: 2;*/
        /*flex-grow: 表示flex布局中的 容器变大情况下 某一个div的放大比例*/
        /*flex-grow: 1;*/
        /*flex-basis: 设置flex基础的长度或者宽度  不用flex布局的时候的width跟height*/
        /*flex-basis: 180px;*/
        /*order: 默认情况下 order:0   顺序属性 1的话会拍到flex布局的最后面*/
        min-height: 100vh; /*关键*/
    }


    .content {
        /* 将 flex-grow 设置为1，该元素会占用全部可使用空间
而其他元素该属性值为0，因此不会得到多余的空间*/
        /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 1 0 auto;


        display: flex;
        /*flex-direction: row;*/
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        /*justify-content: space-around;*/
    }
    .content-body {
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 1000px;
        align-items: stretch;
        justify-content: space-between;
    }

    .MainTop {
        width: 100%;
        height: 200px;
        background: rgba(66, 64, 64, .2);
        border: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .MainTop p {
        color: #000000;
    }
    .MainTop h2 span {
        color: #000000;
        font-family: 华文行楷;
        font-size: xx-large;
    }
    .MainTop span {
        color: #000000;
        font-family: 华文行楷;
        font-size: 25px;
        letter-spacing: 1px;
        padding-top: 20px;
    }
</style>
