<template>
  <div class="top">
    <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
           >
      <el-menu-item index="1">
        <router-link to="/">
          <img src="../../assets/svg/home.svg" alt="">
          首站
        </router-link>
      </el-menu-item>
      <el-submenu index="2">
        <template slot="title">我的工作台</template>
        <el-menu-item index="2-1"><router-link :to="{path:'/main/CarouselSwiper'}">轮播图-swiper</router-link></el-menu-item>
        <el-menu-item index="2-2">选项2</el-menu-item>
        <el-menu-item index="2-3">选项3</el-menu-item>
        <el-submenu index="2-4">
          <template slot="title">选项4</template>
          <el-menu-item index="2-4-1">选项1</el-menu-item>
          <el-menu-item index="2-4-2">选项2</el-menu-item>
          <el-menu-item index="2-4-3">选项3</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-menu-item index="3" disabled>消息中心</el-menu-item>
      <el-menu-item index="4"><router-link :to="{path:'/main/AliPay'}">订单管理</router-link></el-menu-item>
      <el-menu-item index="5"><router-link to="/main/imageList">海量图库</router-link></el-menu-item>
      <el-submenu index="6">
        <template slot="title">随笔</template>
        <el-menu-item index="6-1"><router-link to>java</router-link></el-menu-item>
        <el-menu-item index="6-2"><router-link to>python</router-link></el-menu-item>
        <el-menu-item index="6-3"><router-link to>server</router-link></el-menu-item>
      </el-submenu>
<!--      <el-menu-item index="7" >
        <router-link to="/login"><img src="../../assets/Avatar/Avatar.svg" class="layout-akari"/></router-link>
      </el-menu-item>-->
      <el-menu-item index="10" ><router-link :to="{path: '/main/about' }">关于</router-link></el-menu-item>
      <el-menu-item index="8" ><router-link to="/login">登录</router-link></el-menu-item>
<!--      <el-menu-item index="9"><router-link to="/register">注册</router-link></el-menu-item>-->


    </el-menu>
  </div>
</template>
<script>
  export default {
    name: "Top",
    data() {
      return {
        activeIndex: '1',
      }
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }
    },
    mounted() {
    },
    created() {
    }
  };
</script>
<style scoped>
  @import url("../../css/Top.css");
</style>
