<template>
  <div>
    <el-form :model="numberValidateForm" :rules="rules"  ref="numberValidateForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="支付金额" prop="amount">
        <el-input type="amount" v-model.number="numberValidateForm.amount" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="支付方式" prop="Pay">
        <el-radio-group v-model="numberValidateForm.Pay" size="medium">
          <el-radio border label="aliPay"></el-radio>
          <el-radio border label="globalAliPay"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('numberValidateForm')">提交</el-button>
        <el-button @click="resetForm('numberValidateForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import request from "../http/request";
  export default {
    name: "AliPay",
    data() {
      return {
        json: null,
        numberValidateForm: {
          amount: '',
          Pay: ''
        },
        rules: {
          amount:[
            { required: true, message: '支付金额不能为空', trigger: 'change' },
            { type: 'number', message: '支付金额必须为数字值', trigger: 'change' }
          ],
          Pay: [
            {required: true,message:'请选择支付方式', trigger: 'change' }
          ]
        },
        order: {
          "orderTime": "2020.7.3",
          "userId": "2",
          "email": "1064230986@qq.com",
          "totalFee": "200",
          "userPhone": "18259973869",
          "userName": "qlh",
          "userAddress": "浙江杭州",
          "userIdCard": "4127221555605035021",
          "payType": "AliPay",
          "product": [
            {
              "nmnName": "nmn保健品",
              "nmnPrice": "100",
              "nmnNumber": "2",
              "nmnTotal": "200",
              "nmnId": "1"
            }
          ]
        }
       /* order:{
          video_id: 1
        }*/
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
       /*     request.Pay(this.order,"AliPay").then((data) => {
              console.log(data);
              // 打开新的页面进行填充html。解决支付宝返回form 再vue中打开问题
              let newWindow = window.open("#", "_blank");
              newWindow.document.write(data.data);
            });*/
            request.aliPay(this.numberValidateForm.amount, this.numberValidateForm.Pay).then((data) => {
              console.log(data);
              // 打开新的页面进行填充html。解决支付宝返回form 再vue中打开问题
              let newWindow = window.open("#", "_blank");
              newWindow.document.write(data.data);
            });
          } else {
            console.log('error submit!!');
            return false;
          }
        });
    /*    this.axios.get("../static/json/visa.json").then((res)=>{
          this.json = res.data;
          this.axios.post("https://sandbox.api.visa.com/cybersource/v2/payments?apikey=" + 'BD2N0DP3CWBLJ7YEG8HG21_TxhTEVvkHJayEro67ijgYi59CU',{Body: this.json}).then((data) => {
            console.log(data);
          });
        });*/

      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>

<style scoped>
.demo-ruleForm{
/*  position: absolute;
  top: 30%;
  left: 40%;*/
}
</style>
