<template>
  <div>
<!--    <Home></Home>-->
    <div class="demo-image__lazy">
      <el-image v-for="url in urls" :key="url" :src="url" lazy :preview-src-list="urls" class="img"></el-image>
    </div>
  </div>
</template>
<script>
  export default {
    name: "imageList",
    methods: {},
    data() {
      return {
        urls: [
          "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg",
          "https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg",
          "https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg",
          "https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg",
          "https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg",
          "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg",
          "https://fuss10.elemecdn.com/2/11/6535bcfb26e4c79b48ddde44f4b6fjpeg.jpeg",
          "/static/login.png"
        ]
      };
    },
    components: {
    }
  };
</script>
<style scoped>
  .demo-image__lazy {
    background-color: dimgray;
    /* margin-top: 70px; */
  }
  .img {
    width: 30%;
    height: 30%;
    left: 0px;
    right: 0px;
  }
</style>
