.layout-akari {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 1px solid silver;
}
.el-menu-demo {
  display: flex;
  justify-content: center;
  background: rgba(40,42,44,.6);
  color: #00FFFF;
  width: 100%;
  border: none;
  /*list-style:none;*/
}
.top{
  /* 我们希望 header 采用固定的高度，只占用必须的空间 */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  /*display: flex;*/
  /*width: 100%;*/
  /*justify-content: center;*/
}