<template>
  <div class="register-father">
    <div class="register-content">
      <div class="content-title">
        <h3>注册账号</h3>
      </div>
      <div style="tvertical-align:middle;">
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
          label-width="20%"
          class="demo-ruleForm"
          style="width:75%;margin-top:15px;"
          size="medium"
        >
          <el-form-item prop="user">
            <el-input
              type="text"
              v-model="ruleForm.user"
              autocomplete="off"
              placeholder="登录名"
              prefix-icon="el-icon-user"
            ></el-input>
          </el-form-item>
          <el-form-item prop="pass">
            <el-input
              type="password"
              v-model="ruleForm.pass"
              autocomplete="off"
              placeholder="密码"
              prefix-icon="el-icon-lock"
              show-password
            ></el-input>
          </el-form-item>
          <el-form-item prop="checkPass">
            <el-input
              type="password"
              v-model="ruleForm.checkPass"
              autocomplete="off"
              placeholder="确认密码"
              prefix-icon="el-icon-unlock"
              show-password
            ></el-input>
          </el-form-item>
          <el-form-item prop="email">
            <el-input
              type="text"
              v-model="ruleForm.email"
              placeholder="邮箱地址"
              prefix-icon="el-icon-message"
            ></el-input>
          </el-form-item>
          <!-- <el-form-item prop="code">
            <el-input
              type="text"
              v-model="ruleForm.code"
              placeholder="请输入验证码"
              prefix-icon=""
              style="width:65%"
            ></el-input>
          </el-form-item> -->
        </el-form>
        <div>
          <el-button
            typpe="primary"
            @click="submitForm('ruleForm')"
            class="registerBtn"
            >注册</el-button
          >
          <div class="register-p">
            <router-link to="/" class="register-p-span txt">
              <span>返回首页</span>
            </router-link>
            <div class="register-p-div">
              <router-link to class="txt">
                <span @click="forgetPassword">忘记密码</span>
              </router-link>
              <router-link to="/login" class="txt">
                <span>立刻登陆</span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { forgetPassword } from "../../js/publicJS/public";
import request from '../../http/request';
export default {
  name: "Register",
  data() {
    let validateuser = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入账号"));
      } else {
        setTimeout(() => {
          if (this.ruleForm.user !== "") {
            this.$refs.ruleForm.validateField("user");
          }
          callback();
        }, 100);
      }
    };
    let checkEmail = (rule, value, callback) => {
      const mailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
      if (!value) {
        return callback(new Error("邮箱不能为空"));
      }
      setTimeout(() => {
        if (mailReg.test(value)) {
          callback();
        } else {
          callback(new Error("请输入正确的邮箱格式"));
        }
      }, 100);
    };
    let validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        if (this.ruleForm.checkPass !== "") {
          this.$refs.ruleForm.validateField("checkPass");
        }
        callback();
      }
    };
    let validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请再次输入密码"));
      } else if (value !== this.ruleForm.pass) {
        callback(new Error("两次输入密码不一致!"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        user: "",
        pass: "",
        checkPass: "",
        email: ""
      },
      rules: {
        user: [{ validator: validateuser, trigger: "blur" }],
        pass: [{ validator: validatePass, trigger: "blur" }],
        checkPass: [{ validator: validatePass2, trigger: "blur" }],
        email: [{ validator: checkEmail, trigger: "blur" }]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        console.log(this.ruleForm);
        if (valid) {
          request.register(this.ruleForm).then((data) => {
            console.log(data);
            if (data.code === 0) {
              this.$router.push("/login");
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // resetForm(formName) {
    //   this.$refs[formName].resetFields();
    // },
    goback() {
      this.$router.go(-1);
    },
    forgetPassword
  }
};
</script>
<style scoped>
@import url("../../css/Register.css");
</style>
