<template>
  <div class="register-father">
    <div class="register-content">
      <div class="content-title">
        <h3>欢迎登录</h3>
      </div>
      <div style="tvertical-align:middle;">
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
          label-width="20%"
          class="demo-ruleForm"
          style="width:75%;margin-top:15px;"
          size="medium"
        >
          <el-form-item prop="username">
            <el-input
              type="text"
              v-model="ruleForm.username"
              autocomplete="off"
              placeholder="登录名"
              prefix-icon="el-icon-user"
            ></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input
              type="password"
              v-model="ruleForm.password"
              autocomplete="off"
              placeholder="密码"
              prefix-icon="el-icon-lock"
              show-password
            ></el-input>
          </el-form-item>
        </el-form>
        <div>
          <el-button typpe="primary" @click="submitForm('ruleForm')" class="loginBtn">登录</el-button>
          <div class="login-p">
            <router-link to="/" class="login-p-span txt">
              <span>返回首页</span>
            </router-link>
            <div class="login-p-div">
              <router-link to class="txt">
                <span @click="forgetPassword">忘记密码</span>
              </router-link>
              <router-link to="/register" class="txt">
                <span>立刻注册</span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {forgetPassword, code} from "../../js/publicJS/public";
  import request from '../../http/request';
  import Auth from '../../js/Auth';
export default {
  name: "Login",
  data() {
    return {
      ruleForm: {
        username: "",
        password: ""
      },
      rules: {
        username: [{required: true, message: '请输入用户名', trigger: 'blur'}],
        password: [{required: true, message: '请输入密码', trigger: 'blur'}]
      }
    };
  },

  methods: {
    forgetPassword,
    code,
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          console.log(this.ruleForm);
          request.login(this.ruleForm).then((data) => {
            console.log(data)
            if (data.data.code === 0) {
              //登录成功
              let userAuth = data.data.data;
              console.log(userAuth);
              //存用户权限信息
              Auth.setAuth(userAuth);
              this.$router.push('/');
            }else {
              this.$alert(data.data.msg,"提示信息");
            }
          });
        }else {
          console.log("error submit!!");
          return false;
        }
      });
    }
  }
};
</script>
<style scoped>
@import url("../../css/Login.css");
</style>
