<template>
  <swiper ref="mySwiper" :options="swiperOptions" @click="go()">
    <swiper-slide v-for="(url,index) in urls" :key="url">
      <img style="width: 100%;height: 100%" :src="url" alt="">
      <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper-container外面，需要自定义样式。-->
      <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper-container外面，需要自定义样式。-->
    </swiper-slide>
    <div class="swiper-pagination" slot="pagination"></div><!--分页器。如果放置在swiper-container外面，需要自定义样式。-->
    <!--<div class="swiper-scrollbar"></div>--><!--滚动条每调试成功  不能用-->
  </swiper>
</template>

<script>
  export default {
    name: "CarouselSwiper",
    data() {
      return {
        urls: [
          "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg",
          "https://fuss10.elemecdn.com/1/34/19aa98b1fcb2781c4fba33d850549jpeg.jpeg",
          "https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg",
          "https://fuss10.elemecdn.com/9/bb/e27858e973f5d7d3904835f46abbdjpeg.jpeg",
          "https://fuss10.elemecdn.com/d/e6/c4d93a3805b3ce3f323f7974e6f78jpeg.jpeg",
          "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg",
          "https://fuss10.elemecdn.com/2/11/6535bcfb26e4c79b48ddde44f4b6fjpeg.jpeg",
          "/static/login.png"
        ],
        swiperOptions: {
          // 如果需要分页器
          pagination: {
            el: '.swiper-pagination',
            clickable: true //点击红点切换
          },
          // slidesPerView: "auto", //设置slider容器每行能够同时显示的slides数量
          // slidesPerView: 3,//一行显示3个
          // slidesPerColumn: 1,//显示slider容器的行数
          // slidesPerGroup:6,//定义slides的数量多少为一组。
          // slidesPerColumnFill : 'row',//多行布局中以行填充，默认'column'列
          // watchOverflow: true,//如果仅有1个slide，swiper无效
          // observer:true,//修改swiper自己或子元素时，自动初始化swiper
          // observeParents:true,//修改swiper的父元素时，自动初始化swiper
          // slidesOffsetBefore : 100,//设定了slides与左边框的偏移量为100px
          // slidesOffsetAfter : 100,//设定了slides与右边框的偏移量为100px
          direction: 'horizontal', //设置滑动方向 类型string； 默认值horizontal(横向)；其他值vertical(纵向)
          loop: true, // 循环模式选项
          autoplay: true, //自动切换
          // centeredSlides: true, //默认居中
          // spaceBetween: 30, //设置元素之间间隙
          // centerInsufficientSlides: true,//当slides的总数小于slidesPerView时，slides居中。
          freeMode: true,//开启free滑动（不会自动贴合）
          // freeModeMomentum: true,//free滑动取消惯性
          slideToClickedSlide: true,//点击的slide会居中
          // shortSwipes: true,//关闭短距离切换，只能滑动长距离才可以切换
          effect: 'slide',//slide的切换效果，默认为"slide"（位移切换），可设置为'slide'（普通切换、默认）,"fade"（淡入）"cube"（方块）"coverflow"（3d流）"flip"（3d翻转）。
          mousewheel: true,//开启鼠标滚轮控制Swiper切换。可设置鼠标选项，或true使用默认值
          // preventClicks : false,//默认true 当swiper在触摸时阻止默认事件（preventDefault），用于防止触摸时触发链接跳转。
          grabCursor: true,//类型boolean； 默认值false；其他值true(变成手掌形状，拖动时会变成抓手形状)
          // 如果需要前进后退按钮
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          // 如果需要滚动条
          /* scrollbar: {
             el: '.swiper-scrollbar',
           },*/
        }
      }
    },
    methods: {
       go() {
       }
    },
    beforeMount: function () {

    },
    mounted() {
      console.log('Current Swiper instance object', this.swiper);
      this.swiper.slideTo(3, 1000, false)
    },
    created() {
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.$swiper
      }
    }
  }
</script>

<style scoped>
  /*改变swiper容器样式*/
  .swiper-container{
    /*swiper容器样式*/
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;

    /* 下面改变分页器圆圈颜色  两种都可以 */
    /*--swiper-theme-color: #ff6600;*/
    --swiper-pagination-color: #00ff33;

    /* 下面改变swiper前进后退按钮样式 */
    --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
    --swiper-navigation-color: #00ff33;/* 单独设置按钮颜色 */
    --swiper-navigation-size: 30px;/* 设置按钮大小 */
  }
</style>
