<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  import {LayUi} from "./js/publicJS/LayUi";

  export default {
    name: "App",
    data() {
      return {}
    },
    methods: {},
    mounted() {
      LayUi();
    },
    created() {
    }
  };
</script>

<style>
  @import url("../static/layui-v2.5.6/layui/css/layui.css");
  body {
    background-image: url("assets/bgimg/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* 解决html下方有滚动条问题 */
    width: 100%;
    height: 100%;
    /* 解决左边一直有空隙的问题 */
    margin: 0;
    padding: 0;
    /*鼠标光标样式*/
    cursor: auto;

  }

  html {
    height: 100%;
    overflow-x: hidden;
  }

  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #F5F5F5;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
</style>
